[2020-05-10 17:08] theolivenbaum opened #2 "Remove all legacy project reference parsing (project.config, etc...)"

[2020-05-10 17:08] theolivenbaum opened #3 "Create dotnet new template"

[2020-05-10 17:09] theolivenbaum opened #4 "Explore feasibility of MSBuild target for H5 instead of post-build action for compilation"

[2020-05-10 17:11] theolivenbaum opened #5 "Port test projects from Bridge/Json projects"
- [Bridge Tests](https://github.com/bridgedotnet/Bridge/tree/master/Tests)
- [Json Tests](https://github.com/bridgedotnet/Bridge.Newtonsoft.Json/tree/master/Tests/Newtonsoft.Json.Tests)

[2020-05-12 10:46] theolivenbaum commented on #4
Done, published here: https://www.nuget.org/packages/h5.target

[2020-05-12 10:46] #4 closed

[2020-05-13 12:02] theolivenbaum opened #6 "Add Inputs/Outputs to project target"
See: https://github.com/Microsoft/msbuild/issues/274

Example:
[code]

[2020-05-13 12:03] theolivenbaum commented on #6
https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-build-incrementally?view=vs-2015&redirectedfrom=MSDN

[2020-05-15 12:36] TriEdgeAI opened #8 "[Feature-Request] Make resource injection optional"

[2020-05-15 12:37] TriEdgeAI opened #9 "[Feature-Request] Get rid of Mono.Cecil in favour of Roslyn"
Which would in turn get rid of the need for `Preconvert()` and boost performance somewhat.

[2020-05-15 19:05] theolivenbaum commented on #6
closed, new SDK target supports incremental compilation

[2020-05-15 19:05] #6 closed

[2020-05-15 19:05] #2 closed

[2020-05-15 19:07] theolivenbaum commented on #9
Problem is the Rewriter is needed for converting the C# code into the subset of the C# language that is supported by the transpiler. But with https://github.com/theolivenbaum/h5/blob/9163e7dab492c1d1662f212225aa8b92278184dd/H5/Compiler/Translator/Utils/Roslyn/SharpSixRewriter.cs, we've added support for caching the rewritten code, so it only needs to happen once and will re-use it if the file didn

[2020-05-15 19:07] #9 closed

[2020-05-15 19:07] theolivenbaum commented on #8
The plan is to extend this with adding more options to control resource injection & index.html generation

[2020-05-15 19:22] TriEdgeAI commented on #9
Enhancing the transpiler to support the wider C# is not feasible I assume?

[2020-05-15 20:44] theolivenbaum commented on #9
That is for sure feasible! Want to do some cleanup first to refactor it to
a more understandable state first, but it should be possible to add the
most needed C# 8.0 features

On Fri, May 15, 2020, 9:37 PM Tri-Edge AI <notifications@github.com> wrote:

[2020-05-16 15:27] theolivenbaum opened #10 "Investigate having external compiler host process, and forward compilation request to it"
This will enable us to avoid the costs of starting a new instance of the compiler for every step (avoiding the cost of jitting for example), and of loading assemblies in memory for Cecil, used here:

https://github.com/theolivenbaum/h5/blob/ba27f3936aa878d26f51e2cbdfe994b948bb363b/H5/Compiler/Translator/Emitter/Emitter.Properties.cs#L140

[2020-05-16 15:29] theolivenbaum opened #11 "Finish emit caching logic (or remove it completely if not feasible)"
https://github.com/theolivenbaum/h5/blob/ba27f3936aa878d26f51e2cbdfe994b948bb363b/H5/Compiler/Translator/Emitter/Blocks/EmitBlock.cs#L390

[2020-05-17 13:05] theolivenbaum commented on #10
Initial experiments suggests we can easily achieve >60% reduction in compilation time from not having to reload assemblies.

[2020-05-18 07:33] theolivenbaum opened #12 "Add to target to delete cached files from obj if running rebuild"

[2020-05-18 08:53] theolivenbaum commented on #10
Closed with https://github.com/theolivenbaum/h5/pull/13/commits

[2020-05-18 08:53] #10 closed

[2020-05-18 08:53] theolivenbaum opened #14 "Add check on compiler to update SDK target on project file"

[2020-05-18 16:49] theolivenbaum opened #15 "Fix Nuget Restore not happening on SDK target"

[2020-05-18 16:50] theolivenbaum opened #16 "Fix change in dependency project not triggering rebuild of parent project"
https://github.com/dotnet/sdk/issues/11676

[2020-05-18 17:46] theolivenbaum opened #17 "Need to pass the working directory in the compilation request to the compilation server"

[2020-05-18 17:47] theolivenbaum opened #18 "Improve handling of * as version for nuget package"

[2020-05-19 08:33] theolivenbaum commented on #16
It seems like this is fixed with the latest target - close for now unless we see it again

[2020-05-19 08:33] #16 closed

[2020-05-19 08:34] theolivenbaum commented on #15
fixed with new target changes

[2020-05-19 08:34] #15 closed

[2020-05-19 08:38] #17 closed

[2020-05-19 12:17] theolivenbaum opened #19 "Remove Console class"

[2020-05-19 17:39] theolivenbaum opened #20 "Investigate SASS compilation"
There seems to be a very outdated C# wrapper around [libsass](https://github.com/sass/libsass) here: https://github.com/TBAPI-0KA/NSass. Could investigate a new modern wrapper on libsass.

[2020-05-19 17:40] theolivenbaum commented on #20
Two more wrappers:

https://github.com/Taritsyn/LibSassHost

https://github.com/sass/libsass-net

[2020-05-19 17:41] theolivenbaum commented on #20
Yet another one: https://github.com/xoofx/SharpScss

[2020-09-08 20:17] theolivenbaum opened #21 "Reimplement support for CultureInfo"
Just noticed while checking the original issues that we're missing support for custom cultures.
Couple of related issues to check as well:

- [Improve "Culture is not supported" error message](https://github.com/bridgedotnet/Bridge/issues/1288)
- Convert.ToString(IFormatProvider) on boxed values do not respect the provided format (https://github.com/bridgedotnet/Bridge/issues/4126)
- [Add String's

[2020-09-08 20:23] theolivenbaum opened #22 "Fix "is null" calling "==" operator"
Original issues reported by @c0pperdragon and @ChrML, I've hit already this on a few occasions...
- [Null checks by "instance is null" wrongly calls the == operator](https://github.com/bridgedotnet/Bridge/issues/4087)
- ["is null" should not call the "==" operator](https://github.com/bridgedotnet/Bridge/issues/4104)

[2020-09-08 20:37] theolivenbaum opened #23 "Incorrect async state-machine if any variable in the return block"
Originally reported here: [Incorrect async state-machine behaviour causing both IF- and ELSE conditions to execute](https://github.com/bridgedotnet/Bridge/issues/4111)

Seems to be due this line:
https://github.com/theolivenbaum/h5/blob/284112b3f50a9d75a9a359e6dfbeb0eda8d00954/H5/Compiler/Translator/Emitter/Blocks/AbstractEmitterBlock.Write.cs#L976

[code]

[2020-09-08 20:38] #23 closed

[2020-09-08 20:42] #19 closed

[2020-09-08 20:43] theolivenbaum commented on #3
Available here: https://www.nuget.org/packages/h5.template

[2020-09-08 20:43] #3 closed

[2020-09-08 20:45] theolivenbaum opened #24 "Add new rule to treat decimal as javascript float"
As suggested in Gitter, add new rule to treat Decimal as float, i.e. DecimalRule.Plain

[2020-10-14 13:02] IceReaper opened #25 ".NET 5.0"
I know, a bit early, but what are the plans on .NET 5.0?

[2020-10-14 13:06] IceReaper opened #26 "WebGL2RenderingContext"
Hello, as retyped isnt available, any plans on supporting WebGL2RenderingContext?

[2020-10-14 13:12] theolivenbaum commented on #26
Is that available on an existing retyped package?

On Wed, Oct 14, 2020, 3:07 PM Andre Mohren <notifications@github.com> wrote:

[2020-10-14 13:16] IceReaper commented on #26
Yup https://www.nuget.org/packages/Retyped.webgl2/

[2020-10-14 13:20] theolivenbaum commented on #26
Then I might be able to push an h5 package for it. Will check and let you
know!

On Wed, Oct 14, 2020, 3:16 PM Andre Mohren <notifications@github.com> wrote:

[2020-10-15 11:07] IceReaper commented on #25
One of the problems i found so far is, that when having net5.0 installed (ubuntu 20.04, using rider as IDE),
the compilation fails with
```Sdk.targets(201, 9): [NETSDK1005] Assets file 'obj/project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'. Ensure that restore has run and that you have included '.NETStandard,Version=v2.0' in the TargetFrameworks for your project.```
while

[2020-10-15 14:25] theolivenbaum commented on #25
Hi @IceReaper - I think I hit that before, seems like something strange changed on the MSBuild included in the NET5.0.
What's happening is that MSBuild is not locating the nuget package that contains the project SDK target (https://www.nuget.org/packages/h5.target/) and is not restoring it either.
I'm planning to start updating our own stack to net50 quite soon, and that will start with h5. I'll p

[2020-10-15 14:26] theolivenbaum commented on #25
by the way - fully uninstalling the net50 preview and keeping only the netcore3.1 sdk fixed the issue for me - you might want to give it a try!

[2020-10-15 14:27] theolivenbaum commented on #26
@IceReaper Is there any other retyped package you would be interested at?

[2020-10-15 14:41] IceReaper opened #27 "Crash when building the template"
Building on Ubuntu 20.04. Only installed sdk is 3.1

[code]

[2020-10-15 14:42] IceReaper commented on #25
Nope, i've created another issue for now for net 3.1, so the two versions do not mix up here.

[2020-10-15 14:44] IceReaper commented on #26
Atm not. Im working on a simple cross-platform app (desktop and web) which uses a wrapper for opentk / webgl2. The webgl2 package is the only missing component at the moment. If something else (non library, but base html5 api) comes up, ill make another issue about that.

[2020-10-15 16:23] theolivenbaum commented on #26
Added the code here: https://github.com/theolivenbaum/h5/commit/39279355d2fe48b0ef4032f8e1cef2c67e33b5eb

Package is building, and if I didnt do any silly mistake, should be on nuget in 30 min on this link: https://nuget.org/packages/h5.webgl2

[2020-10-15 16:25] theolivenbaum commented on #26
@IceReaper let me know if you hit any issues testing it - and also if any method from the current webgl api is missing since the original Retyped webgl release, those are usually easy to add on top of the code...

[2020-10-16 07:57] mcintyre321 opened #28 "Documentation request - reasons why to use instead of Bridge"
I've dabbled with Bridge.net in the past, and remember it being a good platform. Could you explain a bit more in the readme about the motivation for h5, in particular what shortcomings bridge.net has that this addresses. From reading the readme I see that the loss of Retyped is a downside to h5, but I don't know all the upsides.

[2020-10-20 08:26] IceReaper commented on #27
Another day, another problem: My machine has rebooted meanwhile, and above error is gone now. So it might be related to leftover .net5 stuff in the os. The compilation itself however still fails with this error:
[code]

[2020-10-20 09:06] theolivenbaum commented on #27
Interesting, could you share your h5.json and project files?

On Tue, Oct 20, 2020, 10:26 AM Andre Mohren <notifications@github.com>
wrote:

[2020-10-20 09:14] IceReaper commented on #27
h5.json
[code]
Program.cs
[code]
Test.csproj
[code]

[2020-10-20 09:23] theolivenbaum commented on #27
And you're running on linux right?

On Tue, Oct 20, 2020, 11:14 AM Andre Mohren <notifications@github.com>
wrote:

[2020-10-20 09:25] IceReaper commented on #27
Yes, Ubuntu 20.04.

[2020-10-20 17:31] theolivenbaum commented on #27
Hi @IceReaper - can you try one thing before I go into the code, just update the packages in your project to the latest:

[code]
I'll update the template project here too with the latest versions - need to automate this on the devops build...

[2020-10-20 17:32] theolivenbaum commented on #27
Here is the actual fully updated template: https://github.com/theolivenbaum/h5/blob/master/Template/templates/MyProject.csproj

[2020-10-20 17:36] theolivenbaum commented on #28
Hi @mcintyre321 - thanks for the advice, I'll try adding more info on the readme.

I've been using Bridge also for quite some time, and I decided to fork it early this year to be able to update, optimize and fix bugs on it. I think the biggest advantage besides the netcore3.1 update (which brings proper multiplatform support) is actually having a single repository for the entire code-base, which m

[2020-10-21 08:03] IceReaper commented on #27
Im having the exact same error when using the newer packages :(

[2020-10-21 08:05] theolivenbaum commented on #27
Ok thanks for checking. I'll try to reproduce here and let you know what I find

[2020-10-21 08:27] theolivenbaum commented on #27
Hi @IceReaper

Managed to reproduce the problem here on a Linux machine - will test a fix for it now.
Meanwhile, you can set a flag on your project file (SkipEmbeddingResources = true) to get it compiling (just remove it once the fix is done):

[code]

[2020-10-21 08:30] IceReaper commented on #27
Yup, that prop made it work. Thank you very much :)

[2020-10-21 09:03] IceReaper opened #29 "Referencing netstandard2.0 library projects."
I am working on an opengl/webgl based ui rendering library. The project is setup as follows:

- UniGui.Core <- NetStandard 2.0 library, standard sdk, contains an iGlContext interface with all the gl calls defined plus the ui system.
- UniGui.Desktop <- NetStandard 2.0 library, standard sdk, OpenTK based implementation of the Core interfaces.
- UniGui.Html5 <- NetStandard 2.0 library, H5 sdk, H5 we

[2020-10-22 10:50] mcintyre321 commented on #28
So it's because bridge don't have (or can't execute) their roadmap quickly enough? i.e. 3.1 isn't in their plans?

Will you contribute back, or is this a hard fork?

[2020-10-22 11:03] theolivenbaum commented on #28
It's a hard fork. I've discussed with their team before regarding how to collaborate, but they've had no resources for a while to support Bridge, and I didn't want to do incremental changes, but a significant cleanup on the code, repositories, project structure, etc. which would have been impossible without active collaboration with them as they own the repositories and CI/CD infrastructure.

I th

[2020-10-23 11:30] theolivenbaum commented on #29
Hi @IceReaper - do you think you can share with me the code so I can debug locally?

[2020-10-23 12:17] theolivenbaum commented on #27
@IceReaper can you test the latest version and see if it fixed this?
`dotnet tool update --global h5-compiler --version 0.0.13348`

[2020-10-26 13:53] IceReaper commented on #29
Got any contact information for me, to provide you a code share?

[2020-10-26 14:29] theolivenbaum commented on #29
you can reach me at rafael (at) curiosity . ai

On Mon, Oct 26, 2020, 2:54 PM Andre Mohren <notifications@github.com> wrote:

[2020-10-28 09:42] IceReaper commented on #29
I managed to reproduce it on a small scale test project:
[H5Test.zip](https://github.com/theolivenbaum/h5/files/5450915/H5Test.zip)

[2020-10-29 17:59] theolivenbaum commented on #29
Thanks! I'm going to be off next week but will take a look as soon as I'm back!

[2020-11-11 13:02] theolivenbaum commented on #25
@IceReaper finally updated to net5.0 - think I found the cause of the bug when using the latest MSBuild (https://github.com/dotnet/msbuild/issues/5875), and a workaround for it. Will be available soon!

[2020-11-11 14:08] theolivenbaum commented on #25
@IceReaper published the updated compiler, targets, etc... now supporting NET5.0 :)

https://www.nuget.org/packages/h5-compiler
https://www.nuget.org/packages/h5.target

Let me know if you hit any issues post-update!

[2020-11-11 14:08] #25 closed

[2020-11-12 10:15] IceReaper commented on #25
Building triggers precisely the problem you mentioned above. I tried to add the 4 workaround tags to my csproj file, but that didnt fix it.

[2020-11-12 10:20] theolivenbaum commented on #25
Did you update the SDK target and the compiler?

On Thu, Nov 12, 2020, 11:15 AM Andre Mohren <notifications@github.com>
wrote:

[2020-11-12 10:29] IceReaper commented on #25
<Project Sdk="h5.Target/0.0.13615"> and i did "dotnet tool update --global h5-compiler --version 0.0.1362"

Speaking of the dotnet tool update: Will this step always be required? If not, can you hint me when this is no longer required? I try to avoid to keep running such commands on our companys buildnodes which keep resetting after a build has been done.

[2020-11-13 07:31] IceReaper commented on #25
Did some more tests: It is related to #29 Without any dependency it compiles correctly. Adding another library breaks it. So i guess #25 is resolved.

[2020-11-13 07:33] IceReaper commented on #29
Ongoing from #25: Above error is gone, but now the following error occurs:
[code]

[2020-11-13 07:48] #26 closed

[2020-11-13 07:53] theolivenbaum commented on #29
Strange - this last error was supposed to be gone with the update to the [h5 SDK target ](https://nuget.org/packages/h5.target) that you've already applied.

By the way, I didn't know referencing libraries that are compiled against the normal C# SDK was supported by Bridge before - I'll take a look on the zip file you shared here

[2020-11-13 07:58] theolivenbaum commented on #29
So tested here, the issue seems to be referencing a standard csproj:
[code]

If you change the Library.csproj to be a h5 project:
[code]

Then it compiles fine. Is this possible on your case? If this is code that is shared on your code-base outside of h5, I would recommend having 2 csproj files, one using the standard SDK and one with the h5 SDK.

[2020-11-13 08:02] IceReaper commented on #29
What i have written against bridge was the following setup:
- Ui.Core - netstandard2.0 gl gui library. Instead of calling gl methods, it defines an IGlContext interface.
- Ui.Desktop - net5, using openTK and implementing the interfaces to call OpenGL
- Ui.Html5 - netstandard2.0 using h5. It implements the interface by wrapping the stuff into WebGL (hence the webgl2 library)

If i change the Ui.Cor

[2020-11-13 08:09] IceReaper commented on #27
I can confirm this is fixed.

[2020-11-13 08:09] #27 closed

[2020-11-13 12:29] IceReaper commented on #26
I can confirm this library works as expected under current H5 and .NET5

[2020-11-19 09:30] IceReaper opened #30 "Allow net50 in addition to netstandard 2.0?"
Does anything specific speak against supporting net50 as target framework?
I am currently using special empty H5 csproj files which point on the same libraries i use in desktop environment. However having the net5.0 feature stack not available (mostly language version, not special namespaces) limits us to some features we want to use from our libraries.

[2020-12-15 12:39] theolivenbaum commented on #30
@IceReaper I've to test, but the most probably issue is missing APIs that have to be identified and implemented in the standard library. netstandard2.0 has a smaller subset of APIs than netstandard2.1 and subsequently net5.0

[2020-12-15 12:40] theolivenbaum opened #31 "Fix deserialization of Json array as HashSet<T>"

[2020-12-16 10:13] #31 closed

[2020-12-17 10:10] theolivenbaum opened #32 "Out parameter name resolution bug"
`(src.v || "")` should have been `(src1.v || "")` on the generated code below:
[code]

[2021-03-11 22:24] theolivenbaum opened #33 "Check how Razor compiler uses source code generators"
https://github.com/dotnet/sdk/pull/15756

[2021-03-24 13:56] IceReaper opened #34 "Support for the advanced text metrics api."
Basically for our renderer, we need support for this api:
https://developer.mozilla.org/en-US/docs/Web/API/TextMetrics
Sadly, using measureText, H5 only knows about the "width" property.

[2021-03-24 15:50] #34 closed

[2021-03-24 15:50] theolivenbaum commented on #34
just pushed the missing properties - should be in the next nuget package in a few minutes.
If you find anything else missing just open a new issue, these are usually easy to fix :)

[2021-03-24 16:47] theolivenbaum opened #35 "Add support for simpler HTTP requests"
Idea: https://github.com/mikeal/bent

[2021-03-25 10:33] IceReaper opened #36 "Add console timing functions for benchmarking."
https://developer.mozilla.org/en-US/docs/Web/API/Console/time
Would be nice to have the three time related functions available :)

[2021-03-25 10:47] theolivenbaum commented on #36
Hi @IceReaper - you can already access them in the dom console (which is not the same as the System.Console class)

[code]

[2021-03-25 10:47] #36 closed

[2021-03-25 20:34] ChrML commented on #35
I would rather recommend implementing the .NET http client patterns:
- HttpClient
- IHttpClientFactory
- The extension methods for JSON etc.

Much more compatible with existing .NET code, and can also be written as oneliners async/await for getting data.

[2021-03-25 20:37] theolivenbaum commented on #35
True! And simple enough to hide the abstraction! Will give it some thought
- or would you like to give it a try?

On Thu, Mar 25, 2021, 9:35 PM Christian Myhre Lundheim <
***@***.***> wrote:

[2021-03-25 20:43] ChrML commented on #35
I have implemented dependency injection patterns, and an API-client that is very easy to use in my library for Bridge.NET:
https://github.com/ChrML/Bridge.Jolt

I think this front-end library has very many great ideas in one place for very simple front-end development, but it will eventually have to be ported to H5.

Not come around for the HttpClient part yet. But it makes sense that System.Net.H

[2021-03-26 05:11] theolivenbaum commented on #35
Nice!

If you want to try porting, the effort will be a simple find and replace:

Bridge -> H5
Retyped -> H5.Core

And fully replacing the csproj file with a modern one with the right Nuget packages.

[2021-04-01 08:58] theolivenbaum opened #37 "Missing AudioContext APIs"
https://developer.mozilla.org/en-US/docs/Web/API/AudioContext

[2021-04-01 11:01] IceReaper opened #38 "Compilation broken when .net 6 is installed."
Even when not using any .net6 in the project, the compilation fails as soon as .net6 preview2 is installed.

[2021-04-01 11:06] theolivenbaum commented on #38
I'll try over the long weekend to see what could be the issue... We had something similar with one of the net5.0 previews, but it was solved by the time they released it

[2021-04-10 15:08] thomz12 commented on #37
I would love this one so I can properly port my game engine from Bridge to H5!

[2021-04-10 15:40] thomz12 opened #39 "Allow typed arrays as parameter for texImage2D"
For some reason I can't use a typed array for the `texImage2D` and `texSubImage2D` functions.
[code]

Casting it to an ArrayBufferView works with H5:
[code]

It used to work in Bridge.NET, is this a bug?

[2021-04-10 15:52] theolivenbaum commented on #39
Strange, I didn't remove anything with the fork, but should be an easy fix. Meanwhile you can also use the `.As<ArrayBufferView>()` method to cast it to the other type - this is a nop when converted to javascript and in C# it will not check if the type can be casted - it exists for these cases to make it more legible.

[2021-04-10 15:53] theolivenbaum commented on #37
We'll need it soon for work to render audio files, I'll let you know when it's added!

[2021-04-16 15:41] thomz12 commented on #37
I was able to use the already available AudioContext APIs to make everything work! :)

[2021-04-16 15:47] thomz12 opened #40 "Box2D support"
In my project I'd like to use Box2D. Is it possible to port that over from Retyped.box2d?

Is that something I can look into? Are you decompiling the Retyped packages for that?

[2021-04-16 16:26] theolivenbaum commented on #40
Hi @thomz12,

Yeah that's the approach I used before, just decompile with any tool and
replace Retyped with H5.core

I've two packages in my todo list for a while, let's see if I manage to do
the three over this weekend.

Cheers,

Rafael

On Fri, Apr 16, 2021, 5:47 PM thomz12 ***@***.***> wrote:

[2021-04-16 17:18] thomz12 commented on #40
Thanks for the info! I had I look just now and was able to decompile and get it to compile with my project.
Had a quick test that still didn't quite work, but I'll figure that out tomorrow. :)

[2021-04-16 17:19] theolivenbaum commented on #40
Perfect! If you wanna submit the code as a PR I can publish it as a Nuget
package as well

On Fri, Apr 16, 2021, 7:18 PM thomz12 ***@***.***> wrote:

[2021-04-17 04:49] thomz12 commented on #40
So unfortunatly the original package used for Retpyed.box2d is used just for node applications. (I failed to notice that before)
I can convert it so it can be loaded in a browser, but I can't get the retyped package to work with that. (in the browser)

Do you have any ideas?

[2021-04-17 05:00] theolivenbaum commented on #40
To be honest my personal experience with Retyped isn't very good - for all the libraries we use, we just ended up writing our own wrapper classes - much easy to get a consistency experience than the autogenerated one from the typescript definition files used by Retyped. I'm not familiar with Box2D, but if their API is not too crazy might be worth giving it a try.

It's usually as simple as writing

[2021-04-17 05:01] theolivenbaum commented on #40
Obviously, use static methods if it's a static library, or create an instance of the library and store it locally in the wrapper class if needed

[2021-04-17 15:28] thomz12 commented on #40
Thanks again for the tips!
I ended up using p2.js instead, and decompiled the retyped package for that. That seems to work now!

Would you like to make a nuget package for it? (p2) If you do, I'll open a PR tomorrow.

[2021-04-17 16:05] theolivenbaum commented on #40
If you can that would be great!

On Sat, Apr 17, 2021, 5:28 PM thomz12 ***@***.***> wrote:

[2021-04-18 02:30] thomz12 commented on #40
Cool! I wanted to push a new branch, but it it looks like I'm not allowed to.

[code]

[2021-04-18 06:34] theolivenbaum commented on #40
I think you've to fork first, push to your fork and then open a PR

On Sun, Apr 18, 2021, 4:30 AM thomz12 ***@***.***> wrote:

[2021-04-18 07:49] thomz12 commented on #40
Oh duh!
I've opened a PR now.

[2021-04-18 14:19] theolivenbaum commented on #40
did that mistake in the past too  😄

Just merged the code, thanks for contributing!

For future reference, I'm leaving these two regexs that I used for cleaning the decompiled code:

- Replace  `\s+{[\n\r]\s+get[\n\r]\s+{(.|[\s\n\r])*?}[\n\r]\s+set[\n\r]\s+{(.|[\s\n\r])*?}\s+}
` with ` { get; set; }`
- Replace `\s+private .*?__BackingField;\r\n` with ` `

The final package should be published on [

[2021-04-18 14:19] #40 closed

[2021-04-21 07:56] chenxustu1 opened #42 "please support tupple with default keyword"
sample code:
    class Program
    {
        static void Main(string[] args)
        {
            (double data1, string data2) t1 = default;
            console.info(t1.data1);
        }
    }

[2021-04-22 00:10] TriEdgeAI opened #44 "Locales not supported"
![image](https://user-images.githubusercontent.com/12459664/115637207-45c4cc80-a318-11eb-9383-4422dc6dbd11.png)

My h5.json:

[code]

[2021-05-12 10:41] IceReaper commented on #38
Workaround for this is to create a global.json in the project dir with the following contents:
[code]
Problem with this workaround is as far as i can tell, that you need to change the version number after every update of your local sdk.

[2021-05-12 10:46] IceReaper opened #45 "Support for local tools."
https://docs.microsoft.com/en-us/dotnet/core/tools/local-tools-how-to-use

When installing h5-compiler with this approach, compiling fails with
[code]

Running "h5" from cmd obviously does not work. "dotnet h5" however works when installing localy. Would it be an option to change the manual system calls which the build process does to "dotnet h5" instead of "h5"? This way we could avoid the need t

[2021-06-04 19:49] theolivenbaum opened #46 "Add support for globbing on json config"
https://github.com/meziantou/Meziantou.Framework/tree/51fc0c3fa6ba806b7b66f7428fcc019710cd3612/src/Meziantou.Framework.Globbing

[2021-07-02 09:09] IceReaper opened #47 "Auto close compilation server."
When using h5 projects in GitLab CI builds, the build will wait forever for the H5 compiler to close. There should be a way to ensure the compilation server shuts down either after a successful compilation, or after a specific idle time.

[2021-07-02 09:23] theolivenbaum commented on #47
Hi @IceReaper!

 Good point, I forgot to add this to the readme - but you can use [this flag](https://github.com/theolivenbaum/h5/blob/f66b274b005fe961bb80e653794180ed4090a6c2/H5/Compiler/Compiler/Program.cs#L477) on the compilation:

`--no-server`

We already try to be smart to [detect CIs](https://github.com/theolivenbaum/h5/blob/f66b274b005fe961bb80e653794180ed4090a6c2/H5/Compiler/Compiler/Prog

[2021-07-02 09:28] #47 closed

[2021-07-02 12:39] theolivenbaum commented on #46
done for assets import

[2021-07-02 12:39] #46 closed

[2021-07-02 12:43] theolivenbaum commented on #45
Hi @IceReaper - I could add a flag to enable that, but would require some testing... what's the issue with installing it globally that you hit?

[2021-07-02 12:44] theolivenbaum commented on #44
Hi @TriEdgeAI - what does locales do on Bridge? I've never used it and I think I had removed it when doing the fork. Happy to add it back if useful

[2021-07-02 13:10] TriEdgeAI commented on #44
It allows you to use `CultureInfo` essentially with locales other than `InvariantCulture`.

[2021-07-21 07:25] IceReaper commented on #45
Its not really an issue, but it happened multiple times now, where other employees reinstalled some dotnet stuff, or simply updated the sdk, and were suddenly unable to build due to the missing h5 compiler installation. If it would work with the local tools approach too, we would completely get rid of that problem as it would always work. This also applies to build servers where some admin has upd

[2021-09-08 05:58] Ali1Jamal opened #48 "Question about h5 progress"
Hello
I am currently using BridgeDotNet but they stopped developing two years ago on the project .
so I am thinking of moving to h5.
May I know how much you have improved from BridgeDotNet ?
 how much you have been able to support .net 5 ?
Is the project safe now for me to move to ?
is this an experimental project or a serious project ?

[2021-09-08 06:16] theolivenbaum commented on #48
Hi @Ali1Jamal and thanks for the interest.

We started h5 because we were also users of Bridge and were very disappointed by their decision to abandon and then stop development. We actively use h5 to develop [our software](https://curiosity.ai), and also develop an open-source [component library](https://curiosity.ai/tesserae) on top of it.

Regarding changes, the main one is updating the compiler

[2021-09-08 06:16] #48 closed

[2021-09-08 06:20] hardhub commented on #48
You need to play with it. It is open source area... Maybe you can join to community :)

@theolivenbaum

Can you explain that part? I plan to migrate build server to Linux.

[2021-09-08 06:32] theolivenbaum commented on #48
Hi @hardhub,

That's only for the "reusable compilation server" - it speeds up compilation because it keeps a cache of your nuget packages (including the h5 library) in memory for reusing across compilations. On other platforms we just load it from disk on every compilation.

This is also disabled by default if we detect running inside a CI - as it makes no sense there :)
You can see this logic he

[2021-09-08 06:57] Ali1Jamal commented on #48
@theolivenbaum
I will give it a try ,and try to report issues ....... I hope you can support c# 9 as soon as possible....
in my opinion BridgeDotNet it is better than blazor in several things, which is the page load size because I target users who have bad  internet speed like 50kb/s , so I prefer to use BridgeDotNet because the size in network from cdn is 154kb,also I feel latency when typing on

[2021-09-08 07:26] theolivenbaum commented on #48
Completely agree regarding your points about Blazor - I've followed it since it was first released and till this day I don't fell like it provides a nice dev experience... Feel free to open any issue you might encounter along the way!

[2021-09-08 08:17] hardhub commented on #48
You can be sure it will be 3-5 times more if you need reflection and locales. If application itself is big then its JS will be also significant. My app (minified, without framework JS) eats 500 KB. Though I do not think it makes sense to use vanilla JS to save 20% of that. Any high-res image will add much more traffic from an app.

And bridge solves a lot: intellisense, "static" typing, encapsulat

[2021-09-08 10:07] Ali1Jamal commented on #48
@hardhub you mean blazor well be 3-5 times bigger or bridge.net .......if you mean bridge.net then i always disable reflection and make classes , methods  and inheritance to reduce the duplicated this things will reduce the size of code ...i dont love use freamworks just i use something like ploty , swiper , jQuery for http request ... nothing big .... blazor server side is good but i also target

[2021-09-08 12:47] hardhub commented on #48
No I mean bridge with reflection and locales will increase significantly size, I am using Newtonsoft.Json and DI containers, so I cannot avoid reflection. Also we support 8 languages, so I have to bundle all that.

I have bindings for KnockoutJS and some other libraries, though I have some ideas regarding Template attribute changes, but it is later.

[2021-09-08 23:29] Ali1Jamal commented on #48
@hardhub
Yes, the size will increase a lot if you use these things....so I try as much as possible to stay away from increasing the size eg I don't use newtosoft because it needs reflection to work so I use JSON.stringify and JSON.Parse To avoid reflection and just use type casting .As<>() to deal with him

[2021-09-09 05:08] hardhub commented on #48
@Ali1Jamal

But it will not create Bridge C# objects. It will be just plain JS object and it can produce a lot of troubles.

In other words the following will not work:

[code]

Variables test and somevar are equal, I just parsed it using your method to be sure I did that right way.
So test is still plain object and you will get ` Uncaught TypeError: test.As is not a function`

I have not found an

[2021-09-09 05:43] Ali1Jamal commented on #48
@hardhub
i am know its not the perfect way.. There may be some errors in some cases as you explained
..but you can make it work in the following ways :
first method:
`            Global.Set("somevar", "{ Test: 'some text'}");
            A somevar = Global.Get("somevar").As<A>();
            var test = JSON.Parse(JSON.Stringify(somevar));
            Console.WriteLine(test.As<A>());`
           Th

[2021-09-09 06:59] Ali1Jamal commented on #48
@hardhub
I have edited the comment more than once.
Now I understood you very well. You have clarified many things to me, thank you.

[2021-09-11 08:04] Ali1Jamal opened #49 "NotifyPropertyChanged missing ??"
Hello :
i'm try to run this simple :
[https://deck.net/af17727256ef60c2c76206837a6c6eac](https://deck.net/af17727256ef60c2c76206837a6c6eac)
and i cant add this line :
`[NotifyPropertyChanged(Inheritance = MulticastInheritance.All)]`
its give me red line under the code because the NotifyPropertyChanged is missing ...... if i remove the line it will compile successfully But the code will not do what

[2021-09-11 09:00] Ali1Jamal opened #50 "h5 cdn files?"
I hope cdn files for h5 will be provided this is well improve network download size alot.

[2021-09-12 13:21] theolivenbaum commented on #50
Hi @Ali1Jamal,

There is now an option on the h5.json file under the html settings to use the CDN instead of the local h5.js:

[code]

The files are also hosted here: https://cdn.jsdelivr.net/npm/@h5.rocks/h5@latest/dist/

[2021-09-12 13:21] #50 closed

[2021-09-12 13:27] theolivenbaum commented on #49
H @Ali1Jamal ,

That code seems to depend on a [package from Bridge](https://www.nuget.org/packages/Bridge.Aspect/) that is unfortunately not open-source [nor uses a license that would allow us to port it here](https://gist.github.com/geoffreymcgill/00f855f4d0474c64ad3ffbc533f133db).

We would probably need to rewrite the code to support NotifyPropertyChanged, happy to take contributions here if y

[2021-09-12 15:12] Ali1Jamal commented on #50
@theolivenbaum thank you for fast replay:
you are doing good job but the size of h5.min.js is (195 kb) because the Content-Encoding type is gzip algorithm not Brotli algorithm ..this is mean The size is a little bigger You can reduce the size to approximately 150kb if you use Brotli ....take a look at this website [https://cdnjs.com/](https://cdnjs.com/) the bridge.net use it because its use Brotl

[2021-09-12 15:30] theolivenbaum commented on #50
I'll check it out, thought it would be negotiated automatically between the
browser and the CDN...

On Sun, Sep 12, 2021, 5:12 PM Ali Jamal ***@***.***> wrote:

[2021-09-12 15:30] Ali1Jamal commented on #49
@theolivenbaum
yes it use Bridge.Aspect.
I'm not really good at remaking things like a whole library ..so I'm sorry..but maybe you can talk to them to get some libraries especially the basic libraries and if you can't that's fine

[2021-09-12 16:29] hardhub commented on #49
They do not contact well. I asked similar question and finally they decided to not reply.

But maybe you will be lucky ))

[2021-09-12 17:05] Ali1Jamal commented on #49
@hardhub
I sent them an email now but the system tells me that email(hello@bridge.net)has been deleted or does not exist.... and the github page its also archived and the i cant post in bridge Forms.
I think the team is in a long hibernation period.

[2021-09-12 19:31] theolivenbaum commented on #49
You can try the company email ***@***.*** maybe you get luck with it.

On Sun, Sep 12, 2021, 7:05 PM Ali Jamal ***@***.***> wrote:

[2021-09-12 19:40] Ali1Jamal commented on #49
@theolivenbaum  its just stars please type it correctly

[2021-09-12 19:50] theolivenbaum commented on #49
Sorry I think github hid it... The email is:

`hello (at) object (dot) net`

[2021-09-12 20:25] Ali1Jamal commented on #49
i sent him the email lets see what my luck hide😅

[2021-09-18 12:40] Ali1Jamal opened #51 "+= string concatenation failing with struct to class property concat"
Hello
i saw this issues in bridge.net and try to run it on h5 In fact, the problem also exists in h5.
here is the sample :
 Expected: Animal Farm
Actual:   Animal
[code]

[2021-09-18 15:06] hardhub commented on #51
Is it possible to workaround it with `delivery.Books[0].Title = delivery.Books[0].Title + " Farm";`?

[2021-09-18 21:01] Ali1Jamal commented on #51
yes its work.
But the code problem must be solved ....to make h5 more stable.. and to make developers focus on bringing Modern c# features  to h5

[2021-09-19 12:48] hardhub commented on #51
I am sure it is not single issue with Bridge.Net which should be fixed in H5. Bridge has tons of issues.

Most buggy component for me is still DateTime.

[2021-09-19 13:04] Ali1Jamal commented on #51
yes i search in bridge.net issues to see the clear and important issues then  test the code in h5 if the code have issues then i open issues in h5...
I see some complaints about DataTime can you open issues Or give me examples of problems because I haven't tried it before, maybe I can fix some problems or try to reduce them

[2021-09-20 00:14] hardhub commented on #51
All my opened issues and not solved by bridge:

https://github.com/bridgedotnet/Bridge/issues/created_by/hardhub

Probably we can copy at least "defect issues" into H5 repo.

[2021-09-20 01:39] Ali1Jamal commented on #51
Yes you can transfer the problems because they seem important.
I'm actually trying to understand how h5 or bridge.net does some of its components works because many of them are JavaScript codes and get called by c# so its a mess in the bridge.js
I think we should help each other outside github by using whatsapp or telegram until we solve these problems because I don't think one person (@theolivenb

[2021-09-20 10:04] hardhub commented on #51
As I know gitter is available https://gitter.im/curiosityai/h5

[2021-09-20 16:47] theolivenbaum commented on #51
@Ali1Jamal the easiest is to create a blank h5 project with the code you want to test, and run H5.Compiler from within Visual Studio (or whatever IDE you're using), but targeting your project. As an example (this on VS2022)

![image](https://user-images.githubusercontent.com/8791811/134041480-7692ab89-b665-48ce-a748-64668748c94e.png)

[2021-09-20 16:51] theolivenbaum opened #52 "h5 now runs on NET6.0"
Since .net60 moved into the [go-live release](https://devblogs.microsoft.com/dotnet/announcing-net-6-release-candidate-1/) phase, I've updated h5 compiler to run on net6.0 to make sure it's ready. I've not hit any issues on my side, but I'm opening this issue to track any problems.

If you're updating the h5 compiler on your computer, you might need to install the net6.0 SDK first:
https://dotnet.

[2021-09-20 17:08] Ali1Jamal commented on #51
I have no complaints about test codes .
But thanks for mentioning this.

[2021-09-20 17:17] #45 closed

[2021-09-20 17:19] theolivenbaum commented on #45
@IceReaper I've added this option now. If you don't have the h5 global tool it will try to detect it as a local, or you can fully bypass this by defining on your project file:

[code]

For future reference, to install h5 as a local tool in a given project, you can run this from the command line in the folder of the project:

[code]

[2021-09-28 10:26] Ali1Jamal opened #53 "AddTicks not work correctly"
add ticks not work correctly in this simple :
https://deck.net/d8843f388823586dca2a2b94bbbd6af1
Expected Result
2019-12-01T00:00:00.0000000
2019-11-30T23:59:59.9990000
2019-11-30T23:59:59.9990000
Actual Result
2019-12-01T00:00:00.0000000
2019-12-01T00:00:00.0000000
2019-11-30T23:59:59.9990000
i think to fix this problem its to replace:
https://github.com/theolivenbaum/h5/blob/d9c8a733e6b55584c3bd3

[2021-09-28 11:01] Ali1Jamal opened #54 "Wrong logic of DateTime.SpecifyKind"
Steps To Reproduce
[https://dev.deck.net/9d292f241ded3180d8118d9bdb1e4edd](https://dev.deck.net/9d292f241ded3180d8118d9bdb1e4edd)

[code]
to compare:
[https://dev.deck.net/4916fff18f204ff5d2e171dfbd1cbde9
](https://dev.deck.net/4916fff18f204ff5d2e171dfbd1cbde9
)

Expected Result
`2019-08-05 00:00:00Z`
Actual Result
[code]
i think to fix this issues by change this line :
https://github.com/theolive

[2021-10-06 13:12] Ali1Jamal opened #55 "Task didn't work in h5"
Hello:
i'm got 4 errors when i'm run the code
`first error is ' Task is not yet completed '`
`and the others errors  is ' Task is already completed '`

code here :

[code]

[2021-10-06 19:53] hardhub commented on #55
It does not make any sense in setter with type uint:

[code]

Why is it async?
[code]

It is C# code and it is `public Action OnReadyStateChange` property.

All your code looks at least strange.

[2021-10-07 03:19] hardhub commented on #55
_uint_ is not CLS-compliant, a check itself does not make any sense (if internal represnation of uint can be greater than uint it is problem of uint and not property of HttpClient), that API is not standard - HttpClient in .Net has Timeout instance (TimeSpan) property.

But as I said whole code looks strange. It does not look like correct async programming. Though I am not involved a lot into your

[2021-10-07 12:29] #55 closed

[2021-10-07 12:35] theolivenbaum commented on #53
Unfortunately that DateTime file is not used and is only kept in the repo for reference, you can see how it's excluded from the H5.csproj file. The actual DateTime code is under the Date.js file, and the other DateTime.cs that simply uses the Template function to redirect methods to the javascript implementation

[code]

[code]

[code]

[2021-10-07 13:15] Ali1Jamal commented on #55
@theolivenbaum ok thanks i well try

[2021-10-07 13:34] #44 closed

[2021-10-08 06:16] hardhub commented on #55
No, I should not. When I expect the problems I must to say about my doubts (you can agree or not - it is another question).

Even more you should not tell me what I should do. As well as you are free to do what you want (and of course it does not mean that I will automatically agree with the result).

[2021-10-08 11:27] Ali1Jamal commented on #55
ok i will repeat my talk .....i told you before i well implement httpClint ...but this code just trying to write task ...nothing public or real implement...just few lines to test (i mean this code is for test Task if task work than i will do the standard in corert like timespan ....etc ). you can be helpful like theolivenbaum he know what i want and solve the problem ....i dont like to complete th

[2021-10-08 15:20] theolivenbaum commented on #53
Looks good, I'll add over the weekend when I've some time, thanks!

[2021-10-21 17:48] hey24sheep opened #56 "Support for net-standard 2.1"
Hi, can support be added for "net-standard 2.1" ? thanks.

[2021-10-21 17:52] hey24sheep opened #57 "Need wiki/doc on how to implement/use"
Need wiki/doc on how to implement/use within a c# project, thanks

[2021-11-10 15:48] theolivenbaum commented on #52
Hi @eppoeh, thanks for reporting the issue - I'll push a fix asap!

[2021-11-12 10:08] theolivenbaum opened #58 "Check if we can invert the order of metadata loading"
Currently h5 will emit the metadata file used for reflection after the project file:

[code]

But this means if you use reflection on the app entry point:

[code]

This fails as the metadata file `app.meta.js` is not yet loaded. Adding a timeout to let the file load works fine.

Need to investigate if we can invert the output order (i.e. load app.meta.js before app.js). On a quick test it works fi

[2021-11-12 10:10] theolivenbaum commented on #57
Hi @hey24sheep  - the best place to start is the h5 template available on [nuget](https://www.nuget.org/packages/h5.template).

Alternatively you can take a look at our UI library to get an idea on how we use it: http://github.com/curiosity-ai/tesserae, with examples here: http://curiosity.ai/tesserae
It's on my backlog to add some more documentation, but can't promise anything now as we're quite

[2021-11-12 10:10] #57 closed

[2021-11-13 05:24] hey24sheep commented on #57
@theolivenbaum Is there any example which shows how to convert a class library to JS (no U.I).

Like, I have a project (class library) which is a nuget package to provide helper functions to users in C#. I want to convert that to JS. Is it possible with H5?

[2021-11-13 06:29] theolivenbaum commented on #57
It is absolutely possible but you'll take a dependency at least on the base h5.js (or h5.min.js) or more depending on what you use (Json serialization for example).
I'll add an example to the repository on how to do it!

[2021-11-13 06:52] hey24sheep commented on #57
So, I wont add H5 nuget right? because if I add it, my project breaks completly and doesn't build. An example will be really helpful, thank you.

[2021-11-13 07:15] theolivenbaum commented on #57
You need to have the h5 package as that's providing what normally the SDK provides. You also need the special project target so it compiles with h5 and not with the dotnet compiler.

That might sound complicated, but it isn't: the way we do on our side is to have two projects and just add the files of one as "links" on the second project. Something like [this](https://stackoverflow.com/questions/1

[2021-11-13 07:27] hey24sheep commented on #57
Okay, thank you I understand now. I thought, it could work as a T4 template but it's more like a Rosyln compile time and not runtime. I will try it later on my project.

It would be really helpful if you could add an example. It will help other people as well.

No hurry though, take your time. Thanks a lot, really helps.

[2021-11-14 10:32] eppoeh commented on #52
Unfortunately not. Ended up reinstalling all all just works now.

(biggest culprit was net6.0 not registering corrent in env tables, had to put the new path up in the list, mb still was using .net5 on the background?)

But tested again with a old config, still including locales. Just builds. I'm so happy now!

[2021-11-14 13:44] theolivenbaum commented on #57
Hi @hey24sheep,

I've added a repository for samples on how to use h5: [h5-samples](https://github.com/theolivenbaum/h5-samples)
I'll add over time more examples in there. If you have any suggestions feel free to open an issue there!
I've written about the first two here too: https://medium.com/@theolivenbaum/building-web-apps-in-c-part-1-92e944fa5874

[2021-11-14 13:52] theolivenbaum commented on #52
Hi @eppoeh, yeah that seems to be a known issue with the VS2022 installer - same thing happened to me. In the end was just a matter of fixing the path environment order. Thanks for the feedback :)

[2021-11-15 04:26] hey24sheep commented on #57
Hi @theolivenbaum ,

I just tried the way you have told in the blog. I think the issue is the project is in C# 10 and because of that H5 gives error and doesn't build. I tried `<LangVersion>10.0</LangVersion>` of H5 project too but it didn't help.

Here is the [project](https://github.com/d-edge/Cardidy). I always get these three errors displayed in the pic. I am also getting the errors that exten

[2021-11-15 06:51] theolivenbaum commented on #57
Hi @hey24sheep,

Unfortunately h5 supports for now only c# 7.2 plus some  features from 7.3.

If you change it to 7.3 you should be able to compile it - but obviously you'll miss the nice record classes.

I think there's a check during compilation for it, I might experiment to see what happens if I remove the check - but my guess is that there's a non trivial around of work to get up to version 10

[2021-11-15 07:11] hey24sheep commented on #57
Hi @theolivenbaum,
I figured, well I cannot change the C# version of this project as I am just a contributor and they are trying to use all the latest features in this library.

Well, then this is a complete new enhancement issue, different than this one :D I will stop bumping this one then. Thanks a lot for all your help. Will keep a watch on it for C# 10 updates. Thanks again 👍🏼

[2021-11-15 07:13] theolivenbaum commented on #57
No worries! What you can also do is just add conditional compilation and write the record classes as normal classes only for h5.

[2021-11-15 07:14] theolivenbaum opened #59 "Investigate C#10 features"

[2021-12-25 14:18] theolivenbaum opened #60 "h5 doesn't use environment variable NUGET_PACKAGES"

[2021-12-25 14:23] #60 closed

[2021-12-27 13:32] theolivenbaum commented on #35
Closed with initial implementation in PR #61

[2021-12-27 13:32] #35 closed

[2022-01-06 22:53] TriEdgeAI commented on #44
Just checked, seems to be working, will report whether I managed to build our entire codebase a bit later.

[2022-08-06 15:37] thomz12 opened #62 "XML documentation"
Hi!

I was wondering about support for XML documentation genearation. Currently if you enable the option in `Project properties>Build>Output>Documentation file` it doesn't generate a documentation file. (and throws an error if you enabled package on build)

[code]

I would like to include the documentation file with my nuget packages to make development easier on project referencing the package. S

[2022-10-02 15:40] ttournel opened #63 "no an issue but a question. Anyway to debug (f9) step by step with chrome or firefox ?"
Hi!

How to debug (f9) step by step with chrome or firefox ?

Thanks in advance,
Thierry

[2022-10-03 04:01] hardhub commented on #63
The same as with Bridge? You need source map... I guess.

But if you have a real problem it is much better to debug generated JS or Console.WriteLine and check the output.

[2022-11-16 01:29] hardhub opened #64 "h5.Target tries to install latest version instead specified"
I get the following when use `<Project Sdk="h5.Target/0.0.21664">`:

[code]

It is latest version compatible with .NET 6, but it still tries to install "0.0.34002" which requires .NET 7.

[2022-11-16 01:53] hardhub commented on #64
Manual installing helps to workaround:

[code]

[2022-11-16 21:11] hardhub opened #65 "OutputPath is ignored in command line build"
[code]

The above command will not create dll files at specified path.
So creation of nuget package for example will fail. And compilation in that case will not be successful in general.

[2022-11-17 06:16] hardhub opened #66 "H5 does not copy to output JS files of referenced projects"
@theolivenbaum It is critical issue and totally blocks me to use of H5 instead of Bridge.

Let's assume we have 2 projects in solution `C3` and `C3.Terminal`.
`C3` is referenced as any other assembly in regular project by `C3.Terminal`.

Output of **C3**:
![image](https://user-images.githubusercontent.com/4306334/202370134-b5de70f3-38e6-442b-a329-a1eedf204c7f.png)

Output of **C3.Terminal**:
![ima

[2022-11-17 06:39] hardhub commented on #66
Ha-ha, my bad, it seems H5 supports a lot of project settings including `<SkipEmbeddingResources>`, which I added accidentally with Import directive.

All works fine!

[2022-11-17 06:39] #66 closed

[2022-11-17 23:11] hardhub opened #67 "FieldBlock: Convert.ChangeType is failed."
It is logged as warning, but it happens in absolutely normal circumstances.

For example if I assign int value to some class which has implicit cast operator. Generated JS is correct, so not need to warn about such events.

[code]

[code]

[2022-11-18 01:20] hardhub opened #68 "Regression: negative zero is compiled wrong"
**C#**

[code]

**Bridge**

[code]

**H5**

[code]

[2022-11-21 02:22] hardhub opened #70 "Building issues on multiple platforms"
I think current version of H5 is not usable much.

1) `UpdateH5` option simply does not work as intended. If you have NET 7 installed it will update your installed h5 tools in any case. If you have only NET 6 then it cannot update and will not install new version. But enabling this option can reduce amount of error in the log.

2) It always puts a lot of different warnings which should not be disp

[2022-11-21 02:28] hardhub opened #71 "Compilation error for null-conditional operator and comparison (value?.Count > 0)"
For example this code will fail on build.

[code]

Most likely it is something introduced with .NET 7 or some sort of regression, as I remember it was successfully built via .NET 6 packages.

[2022-11-23 10:36] theolivenbaum commented on #71
Hi @hardhub - are you running the latest version of h5 (and have the release version of net7.0 sdk installed)?

[2022-11-23 10:38] theolivenbaum commented on #70
@hardhub This is due to the update of h5 to target net70, which needs then the SDK installed on your computer.
You can download the latest .NET SDK here: https://dotnet.microsoft.com/en-us/download
And re-install the latest version of h5 with the command: `dotnet tool update --global h5-compiler --version 0.0.34002`

[2022-11-23 10:39] theolivenbaum commented on #64
You can also download the latest SDK, as I mentioned in #70

[2022-11-23 10:39] #64 closed

[2022-11-23 10:40] theolivenbaum commented on #63
Agreed - I also disable the source-code mapping as I prefer to debug the generated JS.
Otherwise, yes you can debug using the browser developer tools.

[2022-11-23 10:40] #63 closed

[2022-11-23 11:11] hardhub commented on #71
I have used SDK provided by VS 17.4.1 (it is latest on the moment)

[code]

Log:
[code]

Project file:
[code]

**Though** in general it is not very good idea to switch to .NET 7 so extremely fast. For example JetBrains Rider still does not support .NET 7. So I even cannot test if it supports H5 well.

[2022-11-23 11:13] hardhub commented on #71
**Nothing** is changed if project file updated to netstandard 2.1 and fresh version of packages:

[code]

[2022-11-23 11:16] hardhub commented on #70
I wrote above about NET 7.

And I obviously tested it on .NET 7.

[code]

You closed it too quick ))

[2022-11-23 11:19] hardhub commented on #64
The original idea was to avoid downloading NET 7 based SDK.
Version which is compatible with .NET 6, should not try to download NET 7 based if NET 7 is not installed.
It is just creates warning garbage in logs during compilation.

[2022-11-23 11:25] theolivenbaum commented on #70
Good point, missed that!

[2022-11-23 12:48] theolivenbaum commented on #70
Interesting, which version of VS do you have installed?
 If you want to chat directly you can join our [app slack](http://curiosity.ai/join-slack).

[2022-11-23 14:53] theolivenbaum commented on #71
That looks correct - I'll need to investigate more here.

For net70, it shouldn't be an issue with Rider as this is just the dependency from the compiler process to run, not with H5 projects (which are still restricted to netstandard).

[2022-11-23 22:25] hardhub commented on #70
I guess it does not matter, because it happens even under gitlab-runner (CentOS 7, .NET 7, Microsoft Official Repository)

[code]

Difference only in exit code for different platforms, for VS and Windows it is 1 and for Linux it is any none-zero as I see that.

[2022-11-24 15:33] theolivenbaum commented on #70
The [error code](https://github.com/theolivenbaum/h5/blob/b008e3e30800827f490135614fd9677ba689393d/H5/Compiler/Compiler/Program.cs#L80) there is on purpose, as we need to start the compilation server - we do it this way because the compiler caches some of the state in across compilations for speed.

For CIs, we don't run the compiler as server, as you can see [here](https://github.com/theolivenbau

[2022-11-24 23:18] hardhub commented on #70
Thank for good explanation.

As I see it we need to inform calling code about status of server:

[code]

It is a bit unclear for me what calls this tool. And why we need to tell some number outside - why we cannot just start it silently and always return 0.

Because on my screenshot above it looks like it returns `1` even if H5 is already started.
So I can track output in console of H5 server, I c

[2022-11-25 05:54] hardhub commented on #70
And if I build using multiple threads via CLI (for example `msbuild /maxcpucount:8 instead of /maxcpucount:1) then I get warnings about h5-compiler:

[code]

[2022-11-25 09:46] #70 closed

[2022-11-25 09:48] theolivenbaum commented on #70
@hardhub I've changed the logic in the SDK target to ignore the exit code and instead use the exit code value, this should fix this warning (but you'll need to update the SDK target in your projects

[2022-11-25 09:49] theolivenbaum commented on #70
There's an [auto-update of the target value in the compiler](https://github.com/theolivenbaum/h5/blob/b008e3e30800827f490135614fd9677ba689393d/H5/Compiler/Translator/Translator/Translator.ProjectReader.cs#L98) but I'll need to wait everything to build first.

[2022-11-25 13:55] hardhub opened #73 "Extremely high RAM consumption in solution with multiple H5 projects."
If H5 needs to build a lot of projects for some reason it opens a lot of console windows, which all are closed except one.

That single process will do all work, but on opening H5 windows system eats a lot of RAM (**40GB**):

![image](https://user-images.githubusercontent.com/4306334/203998550-6bc56218-68ea-475d-855f-a189d7cfc8cd.png)

When the building continues it reduced as approximately to 20

[2022-11-25 14:02] hardhub commented on #73
Unfortunately building time is also dramatically increased in comparison with Bridge -  30 seconds vs 2 minutes

[2022-11-26 12:03] hardhub commented on #73
It eats around 2 GB for H5 sever during building on **Linux**:

![image](https://user-images.githubusercontent.com/4306334/204087690-0bf5c363-1b17-4470-b818-5697b60c4665.png)

And after all that I tested **Windows 11**:

![image](https://user-images.githubusercontent.com/4306334/204087783-55db3983-7ad1-43b2-857a-57ebc9099553.png)

It looks like it does some memory leaks in Paded and Not Paged Pool

[2022-11-27 11:50] #68 closed